.contact-us {
  --colums: 2;

  display: grid;
  grid-template-columns: repeat(var(--colums), 1fr);
  column-gap: 20px;
  margin-top: 0;

  &__left {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__right {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__inputs {
    width: 100%;
    height: 48px;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 16px 14px;
    border: 1px solid transparent;

    font-family: Manrope, sans-serif;

    @include input-style;
  }

  &__inputs:first-of-type {
    margin-top: 48px;

    @include onTablet {
      margin-top: 56px;
    }
  }

  &__inputs:hover {
    border: 1px solid #dbdbdb;
    color: #1b2129;

    &::placeholder {
      color: #1b2129;
    }
  }

  &__inputs:focus {
    border: 2px solid #f98921;
    outline: none;
  }

  &__textarea {
    resize: none;

    width: 100%;
    height: 148px;
    margin-bottom: 32px;
    padding: 16px 14px;

    font-family: Manrope, sans-serif;

    @include input-style;
  }

  &__button {
    cursor: pointer;

    grid-column: 1 / -1;

    width: 100%;
    height: 56px;
    margin-bottom: 0;
    border-radius: 8px;

    color: #fcfaef;

    background-color: #1b2129;

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__item {
    margin-bottom: 24px;
  }

  &__item:first-of-type {
    margin-top: 48px;

    @include onTablet {
      margin-top: 80px;
    }
  }

  &__label {
    color: #9393a3;
  }

  &__value {
    cursor: pointer;
    color: #191919;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #f98921;
    }
  }

  @include onTablet {
    --colums: 6;

    column-gap: 24px;
  }

  @include onDesktop {
    --colums: 12;
  }
}
