.header {
  background-image: url(../images/header-bg.png);
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__title {
    margin: 0;

    font-size: 36px;
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
    letter-spacing: 0;

    @include onTablet {
      font-size: 40px;
    }
  }

  &__bottom {
    padding-bottom: 40px;
    color: #fff;

    @include onTablet {
      padding-bottom: 64px;
    }
  }
}
